.Collections{
    width: 100%;
    background-color:#e5e8e8;
    display: flex;
    margin-top:100px;
    margin-bottom: 100px;
   
    
    
}
.side-bar{
    width: 25%;
    background-color: #f3e3f3;
    padding: 10px;
    display: flex;
    flex-direction: column;
    
    
}
.side-bar-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width:100%;
    list-style: none;
    
}
.side-bar-list input li{
    width: 100%;
    padding: 10px;
    border: box;
    border-bottom: 1px solid #ccc;
}