.Collections{
    width: 100%;
    display: flex;
    margin-top:100px;
    margin-bottom: 100px;
    font-family: "Helvetica Neue",Helvet;
   
    
    
}
.side-bar{
    width: 250px;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-right:10px;
    margin-top:10px;
    font-family:  "Times New Roman",serif;
    
    
}
.side-bar-list{
    
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width:100%;
    list-style: none;
    display:grid;
    grid-template-columns: 0.5fr 1fr;
    
}
.side-bar-list input li{
    width: 100%;
    padding: 10px;
    border: box;

    
    
}
.side-bar-list :hover{
    transform: scale(1.05);
    cursor: pointer;
    
    
    
}

.side-bar-content{
    border:1px solid #d2d0ce;
    padding:20px;
    box-shadow: 0px 5px 5px 0px #d2d0ce;

}
.side-bar-content1{
    border:1px solid #d2d0ce;
    padding:20px;
    margin-top:20px;
    box-shadow: 0px 5px 5px 0px #d2d0ce;
    margin-top:20px;
}
.collections-content{
    margin-left:50px;
    display:flex;
    width: 50%;
    
}
.select{
    width:50%;
    display:flex;
    color:black;
    height:20px;

   
}
.product-list{
    display: grid;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    width:100%;
    grid-template-columns:1fr 1fr 1fr 1fr;
}
.Collection__item{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    text-align: center;
    margin: 10px;
    width:200px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
    gap:20px;
    
}
.Collection__item img{
    width: 200px;
    
    cursor: pointer;
    
   
}
.Collection__item p{
    font-size: 20px;
    font-weight: 500;
    justify-content: center;
    width:200px;
    cursor: pointer;
    
}
.Collection__item:hover{
    transform: scale(1.05);
    
}
hr{
    width: 100%;
    margin-top: 80px;
    margin-bottom: 80px;
    border: 2px solid #8fa091;
}
.collection-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}