.footer{
    background-color: #f2f3f4;
    color: black;
    padding: 20px 8vw;
    text-align: center;
    width: 100%;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    justify-content: space-between;
    align-items: center;
    position:absolute;
    background-size:contain;
    
    
    
    
    
}
.footer img{
    width: 100px;
    margin-bottom: 10px;
    cursor: pointer;
    display:flex;
}
.footer-text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;

}

.list{
    justify-content: flex-end;
    margin-right: 10px;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    height:50px;

}
.list li{
    list-style: none;
}

.social-media-icon{
    display:inline-flex;
    height:50px;


}

.social-media-icon a{
    display:inline-flex;
    height:50px;
    background-size: 100% 200%;
    background-position: 0% 5%;
    
    

}
.social-media-icon a img{
    width: 30px;
    height: 30px;
    margin: 10px;
    cursor: pointer;
    
}
.social-media-icon a:nth-child(1){
    background-color: #3b5998;
    background-image: linear-gradient( white 50%, #3b5998 50%);

}
.social-media-icon a:nth-child(2){
    background-color: red;
    background-image: linear-gradient( white 50%, red 50%);

}
.social-media-icon a:nth-child(3){
    background-color: #2af04d;
    background-image: linear-gradient( white 50%, #2af04d 50%);

}
.social-media-icon a:hover{
    background-position: 0% 100%;
    transition: 0.3s;
    color:#fff;

}
.copyright{
    text-align:center;
    margin-top:10px;
    height:50px;
    margin-bottom:10px;
}
.hori{
    margin-top: 10px;
    height:1px;
    margin-bottom:10px;
}