.Orders{
    display:flex;
    flex-direction:row;
    margin-top:20px;
}
.DeliveryInfo{
    width:50%;
    margin-right:20px;
    display:flex;
    flex-direction:column;
    margin-top:20px;
}
.DeliveryInfo input{
    width:100%;
    height:40px;
    margin-bottom:20px;
    
}
.name input{
    width:200px;
    height:40px;
    margin-right:20px;
}
.DeliveryInfo h1{
    margin-bottom:20px;
}
.hori{
    height:1px;
    width:100%;
    background-color:gray;
    margin-bottom:10px;
    margin-top:0px;
    
}
.PaymentInfo h1{
    margin-bottom:20px;
}
.PaymentInfo{
    width:50%;
    display:flex;
    flex-direction:column;
    margin-top:20px;
    margin-left:20px;
}
.payment-method{
    margin-top:20px;
    
}
.payment-logo{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin-bottom:20px;
}
.payment-logo img{
    width:100%;
    height:100%;
    margin-right:20px;
}
.paytmlogo.dot{
    background-color:green;
    border-radius:15px;
    width:20px;
}
.payment-logo button{
    width:300px;
    height:40px;
    border-radius:5px;
    background-color:white;
    justify-content:center;
    align-items:center;
    padding:5px;
}
.placeorder{
    width:200px;
    padding:15px 40px;
    color:white;
    border-radius:12px;
    margin-top:20px;
    margin-left:350px;
    margin-bottom:20px;
    font-size:20px;
    font-weight:bold;
    text-align:center;
    cursor:pointer;
    z-index:0;
    background-color:black;
}
.placeorder ::after{
    content:"";
    width:100%;
    height:100%;
    background-color:#333;
    position:absolute;
    top:0;
    left:0;
    border-radius:10px;
    z-index:-1;
}
.placeorder ::before {
    content:"";
    width:calc(100% + 4px);
    height:calc(100% + 4px);
    background:linear-gradient(45deg, #FF0000, #FF7300,#FFFB00, #48FF00,#00FFF5, #0026FF, #7A00FF, #FF00C8, #FF0000);
    position:absolute;
    top:-2px;
    left:-2px;
    border-radius:10px;
    z-index:-1;
    background-size:600%;
    filter:blur(8px);
    transition:opacity 0.5s ease-in-out;
    opacity:1;
    animation:glowing 20s linear infinite;
}
@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
    
}
.placeorder:hover::before {
    opacity:1;
}
.placeorder:active:after {
    background:transparent;
    
}
.placeorder:active {
    color:#000;
    font-weight:bold;
}
.stripelogo{
    display:flex;
}
.razorlogo{
    display:flex;
}
.checkbox{
    padding:10px;
    background-color:green;
    width:20px;
    margin-right:5px;
    border-radius:50px;
}